   /* for the arrow in the navbar*/
  .main-page .chevron-left-thin {
    width: 9.5px;
    height: 16.9px;
  }

  .main-page .categories-in-your-monthly-budget {
    margin: 0 17px 8px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.3px;
    line-height: 1.6;
    color: #100808;
  }

  .main-page .you-have {
    margin: 0 17px 3px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: 1.6;
    color: #000000;
  }
  .main-page .rm-1000 {
    margin: 0 16px 24px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';

    font-size: 32px;
    letter-spacing: -0.6px;
    line-height: 1.6;
    color: #D29B54;
    font-weight: bold;
  }
  .main-page .add_another_category{
    margin: 0px 0px 0px 0px;
    display: inline-block;
    align-self :normal;
    padding-left: 7%;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.3px;
    line-height: 1.6;
    color: #100808;
  }

         /* TRAVELING*/
  /* its for the text traveling */
  .main-page .traveling {
    margin: 10px 3px 1.0px 0px;
    display:flex;
    width: 100px;
    font-weight: 1000;
    font-size: 16px;
    /* beasically increases the size of the purple rectangle */
    line-height: 2;
    line-clamp: 6;
    color: #100202;
  }
  /* for the rm for travelling*/
  .main-page .rm-100 {
    /* margin is helping us fix the position of the text*/
    margin : 10px 0px 10px 0px;
    font-weight:bold;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  }
/* the rect surrounding the RM */
  .main-page .container-3 {
    background: #C8BCC7;
    position: relative;
    margin-left: 150px;
    display: flex;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
  }
  #update{
    background-color: #f38ebb;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  /* container for the traveling */
  .main-page .container-4 {
    border-radius: 8px;
    background: #A6B2DD;
    position: relative;
    margin: 0 28px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 10px 5px 17px;
    width: 400px;
    box-sizing: border-box;
  }


              /* SHOPEE*/
  /*dels with the word shopee*/
  .main-page .shopee {
    margin: 10px 3px 1.0px 0px;
    display:flex;
    width: 100px;
    font-weight: 1000;
    font-size: 16px;
    /* beasically increases the size of the purple rectangle */
    line-height: 2;
    line-clamp: 6;
    color: #100202;
  }
  /* about the text rm 300*/
  .main-page .rm-300 {
    margin : 10px 0px 10px 0px;
    font-weight:bold;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  }
 /* container for rm holder*/
  .main-page .container-5 {
    background: #C8BCC7;
    position: relative;
    margin-left: 150px;
    display: flex;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
  }
 
  .main-page .container-7 {
    border-radius: 8px;
    background: #A6B2DD;
    position: relative;
    margin: 0 28px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 10px 5px 17px;
    width: 400px;
    box-sizing: border-box;
  }
   /* FOOD*/

/* deals with the word food*/
  .main-page .food {
    margin: 10px 3px 1.0px 0px;
    display:flex;
    width: 100px;
    font-weight: 1000;
    font-size: 16px;
    /* beasically increases the size of the purple rectangle */
    line-height: 2;
    line-clamp: 6;
    color: #100202;
  }
  /* money text*/
  .main-page .rm-400 {
    margin : 10px 0px 10px 0px;
    font-weight:bold;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  }
  
  
/* container for the money */
  .main-page .container-16 {
    background: #C8BCC7;
    position: relative;
    margin-left: 150px;
    display: flex;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
  }

  .main-page .container-13 {
    border-radius: 8px;
    background: #A6B2DD;
    position: relative;
    margin: 0 28px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 10px 5px 17px;
    width: 400px;
    box-sizing: border-box;
  }

     /* UTILITY */
  /* deals with the word utility*/
  .main-page .utility {
    margin: 10px 3px 1.0px 0px;
    display:flex;
    width: 100px;
    font-weight: 1000;
    font-size: 16px;
    /* beasically increases the size of the purple rectangle */
    line-height: 2;
    line-clamp: 6;
    color: #100202;
  }
  .main-page .rm-50 {
    margin : 10px 0px 10px 0px;
    font-weight:bold;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  
  }
  .main-page .container-2 {
    background: #C8BCC7;
    position: relative;
    margin-left: 150px;
    display: flex;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
  }
  .main-page .container-15 {
    border-radius: 8px;
    background: #A6B2DD;
    position: relative;
    margin: 0 28px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 10px 5px 17px;
    width: 400px;
    box-sizing: border-box;
  }

      /* PERSONAL  */
  /* deals iwth the word personal */
  .main-page .Personal {
    margin: 10px 3px 1.0px 0px;
    display:flex;
    width: 100px;
    font-weight: 1000;
    font-size: 16px;
    /* beasically increases the size of the purple rectangle */
    line-height: 2;
    line-clamp: 6;
    color: #100202;
  }
  /* about the text rm 300*/
  .main-page .rm-80 {
    margin : 10px 0px 10px 0px;
    font-weight:bold;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  }
 /* container for rm holder*/
  .main-page .container-6 {
    background: #C8BCC7;
    position: relative;
    margin-left: 150px;
    display: flex;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
  }
 
  .main-page .container-20 {
    border-radius: 8px;
    background: #A6B2DD;
    position: relative;
    margin: 0 28px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 10px 5px 17px;
    width: 400px;
    box-sizing: border-box;
  }



  .main-page .container-10 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  .main-page {
    justify-content:left; /* Center horizontally */
    align-items:flex-start; /* Center vertically */
    height: 100vh;
    background: #fbf1e0;
    display: flex;
    padding-bottom: 53px;
    box-sizing: border-box;
    padding-left:70px ;
  }
  